*{ padding: 0; margin:0; outline: none; }
body{ font-family: Arial, Helvetica, Sans-serif; }
.clearfix{ clear: both; }

.btn{ float: left; display: block; cursor: pointer; padding: 15px; border:0; color: white; text-transform: uppercase; font-weight: 600;}
.btn.btn-block{ width: 100%; }
.btn.btn-alert{ background: #09f;}

.header-title{ display: block; margin-bottom: 15px; padding: 10px 0; border-bottom: 1px solid #ddd; }
.header-title h2{ display: block; font-size: 2em; text-transform: uppercase; color: #777; }

.msg{ float: left; display: block; width: 100%; color: white; font-size: 0.98em; }
.msg p{ display: block; padding: 10px; }
.msg .success{ background: #37BD37; }